/* Allgemeine Seite-Stile */

main {
  margin: auto;
  padding: 1rem;
  width: auto; /* Set a fixed width */
  max-width: auto; /* Ensures the width doesn't exceed the viewport width */
  color: #060606;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  background-color:  #FFFFFF; /* Hintergrundfarbe für die Seite */
}

  /* Stile für den Optionsbereich */
  .options-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #0064B2; /* Dunkelblauer Hintergrund */
    padding: 0.5rem 1rem;
    border-radius: 0px;
    margin-bottom: 0rem;
    color:  #0064B2;
  }
  
  .options-bar .button-container {
    display: flex;
    gap: 1rem; /* Abstand zwischen den Buttons */
    margin: 1rem; /* Abstand um die Button-Box herum */
  }
  
  .options-bar a {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    color: #fefdfd; /* Weiße Schriftfarbe */
    text-decoration: none;
    background: #0064B2; /* Farbe der Schaltfläche */
    border-radius: 0px;
    transition: background 0.3s ease, transform 0.3s ease;
  }
  
  .options-bar a:hover {
    background: #00246B; /* Etwas dunklerer Blauton bei Hover */
    transform: scale(1.05); /* Vergrößerungseffekt */
  }

  .options-bar .logo {
    position: absolute;
    left: 1rem; /* Abstand vom linken Rand */
    font-size: 1.2rem;
    color: #f4f6f9;
    font-weight: bold;
  }
  
  #responses-container {
    margin: auto;
    border: 2px solid #3a70dd;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: white;
    max-height: 700px;
    max-width: 900px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Schatten mit 10px Weichheit */
  }
  
  #responses {
    list-style-type: none;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Schatten mit 10px Weichheit */

    padding: 0;
    margin: 0;
  }
  
  .message-item {
    border-bottom: 10px solid #00000000;
    padding: 0.5rem;
  }
  
  .message-item:last-child {
    border-bottom: none;
  }
  
  .message {
    padding: 1rem;
    border-radius: 8px;
    background: white;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  }
  
  .message h2 {
    margin: 0;
    font-size: "bold" 1.2rem;
    color: #0e0d0d;
  }
  
  .message p {
    margin: 0.5rem 0;
    color: #0e0d0d;
  }
  
  .message span {
    display: block;
    font-size: 0.9rem;
    color: #424242;
  }
  
  .button-container1 {
    margin-top: 1rem;
  }
  
  .reply-button {
    padding: 0.5rem;
    background-color: #186e48;    
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: background 0.3s ease, transform 0.3s ease;
  }
  
  .reply-button:hover {
    background: #1f8658;
  }
  
  .delete-button {
    background: #e04141;
    color: #070606;
    border: none;
    border-radius: 3px;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    /*margin-left: 423px;*/
  } 
  
  .delete-button:hover {
    background: #e96969;
  }
  
  .interested-button {
    padding: 0.62rem 1rem;
    background-color: #00246B;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
  }
  
  .interested-button:hover {
    background: #1287e0;
  }
  
  .interested-active {
    background: #0064B2;
  }
  
  .no-messages {
    color: #272727;
    font-style: italic;
    text-align: center;
    padding: 1rem;
  }

  