---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Startseite" description="Willkommen auf der Startseite">
  <div class="startseite-container">
    <div class="startseite-text">
      <p>
        Willkommen auf unserer Seite für Studenten!

        Liebe Studentinnen und Studenten,

        Herzlich willkommen auf unserer Plattform, die speziell darauf ausgerichtet ist, euch während eures akademischen Weges zu unterstützen und zu begleiten. Wir freuen uns sehr, dass ihr euch entschieden habt, Teil unserer Community zu werden.
      </p>
    </div>
    <div class="startseite-image">
      <img src="https://www.htwsaar.de/hochschule/arbeiten-an-der-htw-saar/arbeiten-an-der-htw-saar/@@images/headerimage/fullhd" alt="HTW Saar Bild" />
    </div>
  </div>
</Layout>
